In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [12]:
covid_df = pd.read_csv('covid_data.csv')

In [13]:
covid_df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,KOR,Asia,South Korea,2020-01-21,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
1,KOR,Asia,South Korea,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
2,KOR,Asia,South Korea,2020-01-23,1.0,0.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
3,KOR,Asia,South Korea,2020-01-24,2.0,1.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
4,KOR,Asia,South Korea,2020-01-25,2.0,0.0,NaN,NaN,NaN,NaN,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693,KOR,Asia,South Korea,2021-12-14,536495.0,7843.0,6715.857,4456.0,69.0,62.286,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
694,KOR,Asia,South Korea,2021-12-15,544117.0,7622.0,6790.429,4518.0,62.0,63.000,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
695,KOR,Asia,South Korea,2021-12-16,551551.0,7434.0,6849.286,4591.0,73.0,65.857,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
696,KOR,Asia,South Korea,2021-12-17,558864.0,7313.0,6897.286,4644.0,53.0,62.000,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN
697,KOR,Asia,South Korea,2021-12-18,565098.0,6234.0,6832.429,4722.0,78.0,67.000,...,6.2,40.9,NaN,12.27,83.03,0.916,NaN,NaN,NaN,NaN

In [16]:
covid_df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [27]:
covid_df[['date', 'location', 'new_cases', 'new_vaccinations']]

,date,location,new_cases,new_deaths,new_vaccinations,new_vaccinations_smoothed
0,2020-01-21,South Korea,NaN,NaN,NaN,NaN
1,2020-01-22,South Korea,NaN,NaN,NaN,NaN
2,2020-01-23,South Korea,0.0,NaN,NaN,NaN
3,2020-01-24,South Korea,1.0,NaN,NaN,NaN
4,2020-01-25,South Korea,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...
693,2021-12-14,South Korea,7843.0,69.0,906800.0,577307.0
694,2021-12-15,South Korea,7622.0,62.0,1077833.0,673487.0
695,2021-12-16,South Korea,7434.0,73.0,1044228.0,744197.0
696,2021-12-17,South Korea,7313.0,53.0,NaN,NaN
697,2021-12-18,South Korea,6234.0,78.0,NaN,NaN

In [28]:
covid_df[['date', 'location', 'new_deaths', 'new_vaccinations', 'male_smokers', 'female_smokers']]

,date,location,new_deaths,new_vaccinations,male_smokers,female_smokers
0,2020-01-21,South Korea,NaN,NaN,40.9,6.2
1,2020-01-22,South Korea,NaN,NaN,40.9,6.2
2,2020-01-23,South Korea,NaN,NaN,40.9,6.2
3,2020-01-24,South Korea,NaN,NaN,40.9,6.2
4,2020-01-25,South Korea,NaN,NaN,40.9,6.2
...,...,...,...,...,...,...
693,2021-12-14,South Korea,69.0,906800.0,40.9,6.2
694,2021-12-15,South Korea,62.0,1077833.0,40.9,6.2
695,2021-12-16,South Korea,73.0,1044228.0,40.9,6.2
696,2021-12-17,South Korea,53.0,NaN,40.9,6.2
697,2021-12-18,South Korea,78.0,NaN,40.9,6.2